server:
  image:
    tag: ${vault_version}
%{ if enable_data_storage == true ~}
  dataStorage:
    enabled: ${enable_data_storage}
    storageClass: "${data_storage_class}"
    size: "${data_storage_size}"
%{ endif ~}
%{ if enable_audit_storage == true ~}
  auditStorage:
    enabled: ${enable_audit_storage}
    storageClass: "${audit_storage_class}"
    size: "${audit_storage_size}"
%{ endif ~}
%{ if enable_ha == false ~}
  standalone:
    config: |
      ui = true
      listener "tcp" {
        tls_disable = 1
        address = "[::]:8200"
      }
      seal "azurekeyvault" {
        tenant_id  = "${tenant_id}"
        vault_name = "${vault_name}"
        key_name   = "${key_name}"
      }
      storage "file" {
        path = "/vault/data"
      }
%{ endif ~}
%{ if enable_ha == true ~}
  ha:
    enabled: ${enable_ha}
%{ if enable_raft_backend == false ~}
    config: |
      ui = true
      listener "tcp" {
        tls_disable = 1
        address = "[::]:8200"
        cluster_address = "[::]:8201"
      }
      seal "azurekeyvault" {
        tenant_id  = "${tenant_id}"
        vault_name = "${vault_name}"
        key_name   = "${key_name}"
      }
%{ else ~}
    raft:
      enabled: ${enable_raft_backend}
      config: |
        ui = true
        listener "tcp" {
          tls_disable = 1
          address = "[::]:8200"
          cluster_address = "[::]:8201"
        }
        seal "azurekeyvault" {
          tenant_id  = "${tenant_id}"
          vault_name = "${vault_name}"
          key_name   = "${key_name}"
        }
        storage "raft" {
          path = "/vault/data"
          retry_join {
            leader_api_addr = "http://vault-0.vault-internal:8200"
          }
        }
%{ endif ~}
%{ endif ~}
  extraLabels:
    aadpodidbinding: "${pod_identity}"
injector:
  image:
    tag: ${injector_version}
  agentImage:
    tag: ${injector_sidecar_version}
